# File and dir ignore all
*

# Whitelist
## current directory
!.gitignore
!README.md
!install
!uninstall
!.bash_profile
!.inputrc
!.vimrc

## config
!config/
!config/.gitkeep

## emacs
!.emacs.d/
!.emacs.d/init_file/
!.emacs.d/init_file/init.el

## requirement
!requirement/
!requirement/.gitkeep
!requirement/linux_brew.txt
!requirement/mac_brew.txt

## tools
!tools/
!tools/backup
!tools/requirements.txt
!tools/settings.yaml.template
