# File and dir ignore all
*

# Whitelist
## current directory
!.gitignore
!README.md
!setup
!.bash_profile
!.inputrc
!.vimrc

## config
!config/

## emacs
!.emacs.d/
!.emacs.d/init_file/
!.emacs.d/init_file/init.el

## requirement
!requirement/
!requirement/linux_brew.txt
!requirement/mac_brew.txt